<div>
  <h2 id="page-heading" data-cy="AssocMemberHeading">
    <span jhiTranslate="portalApp.assocMember.home.title">Assoc Members</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="portalApp.assocMember.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-assoc-member"
        [routerLink]="['/assoc-member/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="portalApp.assocMember.home.createLabel"> Create a new Assoc Member </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="assocMembers?.length === 0">
    <span jhiTranslate="portalApp.assocMember.home.notFound">No Assoc Members found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="assocMembers && assocMembers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.phone">Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="year">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.year">Year</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regNo">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.regNo">Reg No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="role">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.role">Role</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="configs">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.configs">Configs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.createdOn">Created On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdatedBy">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.lastUpdatedBy">Last Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdatedOn">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.lastUpdatedOn">Last Updated On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pledge.id">
            <div class="d-flex">
              <span jhiTranslate="portalApp.assocMember.pledge">Pledge</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assocMember of assocMembers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/assoc-member', assocMember.id, 'view']">{{ assocMember.id }}</a>
          </td>
          <td>{{ assocMember.name }}</td>
          <td>{{ assocMember.email }}</td>
          <td>{{ assocMember.phone }}</td>
          <td>{{ assocMember.year }}</td>
          <td>{{ assocMember.regNo }}</td>
          <td jhiTranslate="{{ 'portalApp.Role.' + assocMember.role }}">{{ assocMember.role }}</td>
          <td>{{ assocMember.configs }}</td>
          <td>{{ assocMember.createdBy }}</td>
          <td>{{ assocMember.createdOn }}</td>
          <td>{{ assocMember.lastUpdatedBy }}</td>
          <td>{{ assocMember.lastUpdatedOn }}</td>
          <td>
            <div *ngIf="assocMember.pledge">
              <a [routerLink]="['/pledge', assocMember.pledge.id, 'view']">{{ assocMember.pledge.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/assoc-member', assocMember.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/assoc-member', assocMember.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(assocMember)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="assocMembers && assocMembers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
