<div>
  <h2 id="page-heading" data-cy="PledgeHeading">
    <span jhiTranslate="portalApp.pledge.home.title">Pledges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="portalApp.pledge.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pledge"
        [routerLink]="['/pledge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="portalApp.pledge.home.createLabel"> Create a new Pledge </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pledges?.length === 0">
    <span jhiTranslate="portalApp.pledge.home.notFound">No Pledges found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="pledges && pledges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="targetAmount">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.targetAmount">Target Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paidAmount">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.paidAmount">Paid Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="noOfReminders">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.noOfReminders">No Of Reminders</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reminderCycle">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.reminderCycle">Reminder Cycle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="configs">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.configs">Configs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.createdOn">Created On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdatedOn">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.lastUpdatedOn">Last Updated On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdatedBy">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.lastUpdatedBy">Last Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="project.id">
            <div class="d-flex">
              <span jhiTranslate="portalApp.pledge.project">Project</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pledge of pledges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pledge', pledge.id, 'view']">{{ pledge.id }}</a>
          </td>
          <td>{{ pledge.targetAmount }}</td>
          <td>{{ pledge.paidAmount }}</td>
          <td jhiTranslate="{{ 'portalApp.Status.' + pledge.status }}">{{ pledge.status }}</td>
          <td>{{ pledge.noOfReminders }}</td>
          <td jhiTranslate="{{ 'portalApp.ReminderCycle.' + pledge.reminderCycle }}">{{ pledge.reminderCycle }}</td>
          <td>{{ pledge.configs }}</td>
          <td>{{ pledge.createdOn }}</td>
          <td>{{ pledge.createdBy }}</td>
          <td>{{ pledge.lastUpdatedOn }}</td>
          <td>{{ pledge.lastUpdatedBy }}</td>
          <td>
            <div *ngIf="pledge.project">
              <a [routerLink]="['/project', pledge.project.id, 'view']">{{ pledge.project.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pledge', pledge.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pledge', pledge.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pledge)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pledges && pledges.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
