<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payment-heading" data-cy="PaymentCreateUpdateHeading" jhiTranslate="portalApp.payment.home.createOrEditLabel">
        Create or edit a Payment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.productId" for="field_productId">Product Id</label>
          <input type="text" class="form-control" name="productId" id="field_productId" data-cy="productId" formControlName="productId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.subscriberId" for="field_subscriberId">Subscriber Id</label>
          <input
            type="text"
            class="form-control"
            name="subscriberId"
            id="field_subscriberId"
            data-cy="subscriberId"
            formControlName="subscriberId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.receiptId" for="field_receiptId">Receipt Id</label>
          <input type="text" class="form-control" name="receiptId" id="field_receiptId" data-cy="receiptId" formControlName="receiptId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.orderId" for="field_orderId">Order Id</label>
          <input type="text" class="form-control" name="orderId" id="field_orderId" data-cy="orderId" formControlName="orderId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.amount" for="field_amount">Amount</label>
          <input type="text" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.currency" for="field_currency">Currency</label>
          <input type="text" class="form-control" name="currency" id="field_currency" data-cy="currency" formControlName="currency" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.paybill" for="field_paybill">Paybill</label>
          <input type="text" class="form-control" name="paybill" id="field_paybill" data-cy="paybill" formControlName="paybill" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.trxId" for="field_trxId">Trx Id</label>
          <input type="text" class="form-control" name="trxId" id="field_trxId" data-cy="trxId" formControlName="trxId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.trxEndTime" for="field_trxEndTime">Trx End Time</label>
          <input
            type="text"
            class="form-control"
            name="trxEndTime"
            id="field_trxEndTime"
            data-cy="trxEndTime"
            formControlName="trxEndTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.trxStartTime" for="field_trxStartTime">Trx Start Time</label>
          <input
            type="text"
            class="form-control"
            name="trxStartTime"
            id="field_trxStartTime"
            data-cy="trxStartTime"
            formControlName="trxStartTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.statusReason" for="field_statusReason">Status Reason</label>
          <input
            type="text"
            class="form-control"
            name="statusReason"
            id="field_statusReason"
            data-cy="statusReason"
            formControlName="statusReason"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.configs" for="field_configs">Configs</label>
          <input type="text" class="form-control" name="configs" id="field_configs" data-cy="configs" formControlName="configs" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.lastUpdatedOn" for="field_lastUpdatedOn">Last Updated On</label>
          <input
            type="text"
            class="form-control"
            name="lastUpdatedOn"
            id="field_lastUpdatedOn"
            data-cy="lastUpdatedOn"
            formControlName="lastUpdatedOn"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.lastUpdtedBy" for="field_lastUpdtedBy">Last Updted By</label>
          <input
            type="text"
            class="form-control"
            name="lastUpdtedBy"
            id="field_lastUpdtedBy"
            data-cy="lastUpdtedBy"
            formControlName="lastUpdtedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.payment.project" for="field_project">Project</label>
          <select
            class="form-control"
            id="field_project"
            data-cy="project"
            name="project"
            formControlName="project"
            [compareWith]="compareProject"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="projectOption" *ngFor="let projectOption of projectsSharedCollection">{{ projectOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
