<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pledge-heading" data-cy="PledgeCreateUpdateHeading" jhiTranslate="portalApp.pledge.home.createOrEditLabel">
        Create or edit a Pledge
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.targetAmount" for="field_targetAmount">Target Amount</label>
          <input
            type="number"
            class="form-control"
            name="targetAmount"
            id="field_targetAmount"
            data-cy="targetAmount"
            formControlName="targetAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.paidAmount" for="field_paidAmount">Paid Amount</label>
          <input
            type="number"
            class="form-control"
            name="paidAmount"
            id="field_paidAmount"
            data-cy="paidAmount"
            formControlName="paidAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'portalApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'portalApp.Status.' + status | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.noOfReminders" for="field_noOfReminders">No Of Reminders</label>
          <input
            type="number"
            class="form-control"
            name="noOfReminders"
            id="field_noOfReminders"
            data-cy="noOfReminders"
            formControlName="noOfReminders"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.reminderCycle" for="field_reminderCycle">Reminder Cycle</label>
          <select
            class="form-control"
            name="reminderCycle"
            formControlName="reminderCycle"
            id="field_reminderCycle"
            data-cy="reminderCycle"
          >
            <option [ngValue]="null">{{ 'portalApp.ReminderCycle.null' | translate }}</option>
            <option *ngFor="let reminderCycle of reminderCycleValues" [value]="reminderCycle">
              {{ 'portalApp.ReminderCycle.' + reminderCycle | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.configs" for="field_configs">Configs</label>
          <input type="text" class="form-control" name="configs" id="field_configs" data-cy="configs" formControlName="configs" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.createdOn" for="field_createdOn">Created On</label>
          <input type="text" class="form-control" name="createdOn" id="field_createdOn" data-cy="createdOn" formControlName="createdOn" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.lastUpdatedOn" for="field_lastUpdatedOn">Last Updated On</label>
          <input
            type="text"
            class="form-control"
            name="lastUpdatedOn"
            id="field_lastUpdatedOn"
            data-cy="lastUpdatedOn"
            formControlName="lastUpdatedOn"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
          <input
            type="text"
            class="form-control"
            name="lastUpdatedBy"
            id="field_lastUpdatedBy"
            data-cy="lastUpdatedBy"
            formControlName="lastUpdatedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="portalApp.pledge.project" for="field_project">Project</label>
          <select
            class="form-control"
            id="field_project"
            data-cy="project"
            name="project"
            formControlName="project"
            [compareWith]="compareProject"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="projectOption" *ngFor="let projectOption of projectsSharedCollection">{{ projectOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
